#maindiv{
	width:100%;
	height:100px;
	background-color:#3d5b99;
	color:white;
	margin-top:-35px;
	
}
	body{
		margin:0px;
		padding:0px;
		background-color:#f0f5f5;
		
	}
	#tabledata{
		float:right;
		margin-top:-95px;
		margin-right:125px;
		font-size:20px;
		padding:10px;
		
		
		}
		
		h1{
			margin-left:250px;
			padding-top:25px;
			font-size:40px;
			
		}
		
		#loginbutton{
			background-color:#5b7bc0;
			color:white;
			border:2px solid #5b7bc0;
		}
		#floatclear{
			clear:both;
		}
		
		.flexbox{
			display:flex;
		}
		img{
			margin-right:30px;
			padding:10px;
			
		}
			#sectionid{
				margin-left:100px;
				float:left;
				height:700px;
				margin-right:150px;
				
			}
		h2{
			font-size:35px;
		}
		
		label{
			
		}
		
		h3{
			margin-top:50px;
			
			
		}
		.inputclass{
			height:25px;
			border:2px solid #D3D3D3;
			border-radius:5px;
			padding-left:10px;
			margin-bottom:10px;
			
		}
		
		.inputclass1{
			height:25px;
			width:360px;
			border:2px solid #D3D3D3;
			border-radius:5px;
			padding-left:10px;
			margin-bottom:10px;
			}
			
			#button{
				background-color:#609c4d;
				width:200px;
				height:40px;
				padding:5px;
				border-radius:5px;
				font-size:15px;
				color:white;
			}
			
			span{
				color:#365899;
			}
			select{
				width:80px;
				height:30px;
				margin-right:10px;